@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  color: #7c869d;
}

.rotate {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate-pulse {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 25%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 75%
  );
  background-size: 2000px 100%;
  animation: shimmer 2s infinite;
}
